<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Disability Advantage</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="hero-unit">
            <p>Disability Advantage helps you find schools that will be better for the learning and social environment for your child with special needs.</p>
        </div>
    </div>
    <div class="row-fluid">
        <form class="search-form">
            
            <div class="inputs-row">
            <label for="disabilityType">Your child's disability: </label>
            <select name="disabilityType">
                <option value="test">Test</option>
            </select>
            </div>

            <div class="inputs-row">
            <label for="grade">Your child's grade: </label>
            <select name="grade">
                <option value="1">One</option>
            </select>
            </div>

            <div class="inputs-row">
            <label for="schoolDivision">Your school division: </label>
            <select name="schoolDivision">
                <option>Test</option>
            </select>
            </div>

            <button type="submit" value="search" class="search-button btn btn-primary">
                <i class="icon-search"></i>
                 Search
            </button>
        </form>
    </div>
</div>
